{% extends '../templates/base.html' %}

{% block sidebar %}
<ul class="sidebar-nav">
    <li>
        <a href="/table"><b>Filter Table</b></a>
    </li>
    <li>
    <li class="sidebar-brand">
        <a href="javascript:void(0)">Group Menu</a>
    </li>
    <li>
        <a href="/#" data-filter="*">All</a>
    </li>
    {% for type in helpers.host_group_by_type(json, attr_name='certname') %}
        <li>
            <a href="/#" data-filter=".{{type}}">{{helpers.host_type_title(type)}}</a>
        </li>
    {% end%}
    <li class="sidebar-brand">
        <a href="javascript:void(0)">Role Menu</a>
    </li>
    <li>
        <a href="/#" data-filter="*">All</a>
    </li>
    {% for role in helpers.host_group_by_role(json, attr_name='certname') %}
        <li>
            <a href="/#" data-filter=".{{role}}">{{helpers.host_role_title(role)}}</a>
        </li>
    {% end%}


</ul>
{% end %}

{% block content %}
    {% include '../templates/panels_layout.html' %}
{% end %}


{% block bottom_js %}
<script src="{{ static_url('js/isotope.js') }}"></script>
<script>
    (function($) {
        // init Isotope
        var $grid = $('.grid').isotope();
        $('.sidebar-nav').on( 'click', 'a', function() {
            var filterValue = $(this).attr('data-filter');
            $grid.isotope({filter: filterValue});
        });
    })(jQuery);
</script>
{% end %}