<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gatsby Monitoring</title>
    <link href="{{ static_url("fa/css/font-awesome.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/jquery.dataTables.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/simple-sidebar.css") }}" rel="stylesheet">
</head>

<body>
{% block body %}
<div id="wrapper">
    <div id="sidebar-wrapper">
        {% block sidebar %}
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
            {% end %}
    </div>
    <div id="page-content-wrapper">
        {% block content %}
        {% end %}
    </div>
</div>
{% end %}
<script src="{{ static_url("js/jquery.js") }}"></script>
<script src="{{ static_url("js/pbtable.js") }}"></script>
<script src="{{ static_url("js/jquery.dataTables.js") }}"></script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
    } );
    </script>
    <script>
    $(document).ready(function(e) {
        $('#table1').pbTable({
        selectable: true,
        sortable:true,
        toolbar:{
        enabled:true,
        filterBox:true,
        tags:[
          {
          display:'Hosts',
          toSearch:'host'
            }],
            buttons:['view', 'edit', 'delete']
              },
              onView:function(){
              alert('View button was pressed');
              },
              onEdit:function(){
              alert('Edit button was pressed');
              },
              onDelete:function(){
              alert('Delete button was pressed');
              }
              });
              });
</script>
{% block bottom_js %}

{% end %}
</body>
</html>
