<div class="grid">
{% for item in json %}
    {% set host_name=item['certname'] %}
    {% set backups=item['value'].split(',') %}
    <div class="panel panel-default element-item {{helpers.host_type(host_name)}} {{helpers.host_role(host_name)}}">
        <div class="panel-heading"><h4>{{host_name}}</h4></div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th width="15%">Host</th>
                    <th width="10%">Backup</th>
                    <th width="15%">Last Success</th>
                    <th width="15%">Last Fail</th>
                    <th width="10%">State</th>
                    <th width="5%">Status</th>
                </tr>
                {% for back in backups %}
                    {% if back %}
                        {% set success_state=get_success_status(host_name, back)  %}
                        {% set fail_state=get_fail_status(host_name, back)  %}
                        <tr>
                            <td>{{host_name}}</td>
                            <td>{{back}}</td>
                            <td class="succes">{{ success_state }}</td>
                            <td class="state">{{ fail_state }}</td>
                            <td>
                            {% if success_state and fail_state %}
                                {% if success_state > fail_state %}
                                    <span class="fa-stack fa-lg text-success">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                                    </span>
                                {% else %}
                                    <span class="fa-stack fa-lg text-danger">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-thumbs-o-down fa-stack-1x fa-inverse"></i>
                                    </span>
                                {% end %}
                            {% end %}
                            </td>
                            <td>
                            {% if success_state and fail_state %}
                                {% if success_state > fail_state %}
                                    <p class="text-success">Success</p>
                                {% else %}
                                    <p class="text-danger">Failed</p>
                                {% end %}
                            {% end %}
                            </td>
                        </tr>
                    {% end %}
                {% end %}
            </table>
        </div>
    </div>
{% end %}
</div>