<table id="table1" class="table table-hover">
  <thead>
            <tr>
                <th width="15%" data-field="host" data-checkbox="true">Host</th>
                <th width="15%" data-field="backup" data-sortable="true">Backup</th>
                <th width="15%" data-field="success" data-sortable="true">Last Success</th>
                <th width="15%" data-field="fail" data-sortable="true">Last Fail</th>
                <th width="15%" data-field="state" data-sortable="true">State</th>
                <th width="15%" data-field="status" data-sortable="true">Status</th>

            </tr>
    </thead>
            {% for item in json %}
                {% set host_name=item['certname'] %}
                {% set backups=item['value'].split(',') %}
                {% for back in backups %}
                    {% if back %}
                        {% set success_state=get_success_status(host_name, back)  %}
                        {% set fail_state=get_fail_status(host_name, back)  %}
                        <tbody>
                        <tr ng-repeat="roll in sushi">
                            <td>{{host_name}}</td>
                            <td>{{back}}</td>
                            <td class="succes">{{ success_state }}</td>
                            <td class="state">{{ fail_state }}</td>
                            <td>
                            {% if success_state and fail_state %}
                                {% if success_state > fail_state %}
                                    <span class="fa-stack fa-lg text-success">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                                    </span>
                                {% else %}
                                    <span class="fa-stack fa-lg text-danger">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-thumbs-o-down fa-stack-1x fa-inverse"></i>
                                    </span>
                                {% end %}
                            {% end %}
                            </td>
                            <td>
                            {% if success_state and fail_state %}
                                {% if success_state > fail_state %}
                                    <p class="text-success">Success</p>
                                {% else %}
                                    <p class="text-danger">Failed</p>
                                {% end %}
                            {% end %}
                            </td>
                        </tr>
                    {% end %}
                {% end %}
            {% end %}
            </tbody>
       </table>
     </div>
 </div>
